body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
float: left;
width: 100%;
margin-bottom: 30px;


}
.yellow{
  color: yellow;
  padding: 10px;

}
 .yellow::after{
   content: "the greet";
   display:block;
   width: 10%;
   height: 4000%;
   
 }